 .bg-purchasing{
    background-color: #b71c1c !important;
    border-color: #b71c1c;
}

.text-purchasing{
    color: #b71c1c !important;
}
.z-index-1{
    z-index: -1 !important;
}
.select2-container{
    width: 100% !important;
}

.th-detail {
    min-width: 150px;
}


/* .form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
    background-image: linear-gradient(#b71c1c,#b71c1c),linear-gradient(#e0e0e0,#e0e0e0);
}

.form-material .form-control.focus~.floating-label, .form-material .form-control:focus~.floating-label{
    color:#b71c1c;
} */
